@import url('../node_modules/searchkit/release/theme.css');

.sk-layout__top-bar {
  height: fit-content;
}

.sk-layout__body {
  margin-top: 80px;
}

.my-logo {
  color:white;
  flex:0 0 250px;
  padding:13px 20px;
  margin-right:10px;
}

.sk-search-box {
  margin-top: 0.5em;
}

h3 {
  color:#2a4466;
  margin-left: -1.75em;
  margin-bottom: 0.5em;
  margin-top: 0em;
}

.sk-panel__header,
th {
  color:#2a4466;
}

.sk-select select {
  color:#2a4466;
}

ul {
  list-style: none;
  padding-top: 0em;
  padding-bottom: 0em;
}

ul li::before {
  content: "\2022";
  color:  #08c;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -3em;
  padding-top: 0.5em;
}

.sk-table {
  width: '100%';
  box-sizing: border-box;
  margin-left: 1em;
}

th {
  box-shadow: none;
  background-color: #2a4466;
  color: #fff;
}

.sk-hits-grid-hit {
  padding-right: 1em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
