@import url('../node_modules/searchkit/release/theme.css');


.sk-layout__top-bar {
  height: fit-content;
}

.sk-layout__body {
  margin-top: 80px;
}




h3 {
  color:#2a4466;
  margin-left: -1.75em;
  margin-bottom: 0.5em;
  margin-top: 0em;
}

.sk-panel__header,
th {
  color:#2a4466;
}

.sk-select select {
  color:#2a4466;
}

ul {
  list-style: none;
  padding-top: 0em;
  padding-bottom: 0em;
}

ul li::before {
  content: "\2022";
  color:  #08c;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -3em;
  padding-top: 0.5em;
}

.sk-table {
  width: '100%';
  box-sizing: border-box;
  margin-left: 1em;
}

th {
  box-shadow: none;
  background-color: #2a4466;
  color: #fff;
}

.sk-hits-grid-hit {
  padding-right: 1em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

.fecha-espacio {
  margin-bottom: 1em;
}
.sk-layout{
  font-family: Arial, Helvetica, sans-serif !important;
  background: none;

}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body{
  display: flex;
  flex-direction: column;
  height:100vh;
  margin: 0;
}

code {
  font-family: Arial, Helvetica, sans-serif
    monospace;
}

@import './sass/sidebar.css';
@import './sass/header.css';
@import './sass/layout.css';
@import './sass/table.css';
@import './sass/cards.css';
@import './sass/cardDetails.css';

@import './sass/actions.css';
@import './sass/pagination.css';
@import './sass/checkbox.css';
