.sk-action-bar {
    display: flex;
    flex-flow: column wrap;
    margin: 0 0 58px;
}
.sk-action-bar-row/* .searchInput */ {
    justify-content: space-between;

    .sk-search-box {
        width: 356px;
        height: 36px;
        border-radius: 4px;
        border: solid .5px #c0ecff;
        background-color: #f5fcff;
        // color: #959595;


        .is-focused {
            color: #959595;

        }

        input.sk-search-box__text {
            font-size: 14px;
            color: #959595;

            &::placeholder {
                color: #959595;
            }
        }
    }

    .actions-2 {
        display: flex;

        .sk-toggle {
            width: 182px;
            min-height: 36px;
            border-radius: 4px;
            border-right: solid 1px var(--ocean-blue);

            .sk-toggle-option {
                border: 1px solid var(--ocean-blue);
                font-size: 14px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--ocean-blue);
                border-right: none;
                text-decoration: none;
                white-space: nowrap;

            }

        }

        .sk-select {
            min-width: 177px;
            min-height: 36px;
            border-radius: 4px;
            border: solid 1px var(--ocean-blue);

            select {
                height: 34px;
                font-weight: normal;
                color: var(--ocean-blue);
                border: none;
            }

            &:after {
                border: solid var(--ocean-blue);
                border-width: 0 1px 1px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                margin-top: -4px;

            }
        }
    }
}



.sk-hits-stats__info {
    font-size: 19px;
    color: #595959;
}

.is-active {
    color: white !important;
}

.hitStats-download-container{
    display: flex;
    width: 85%;
}

.download-button-link{
    text-decoration: none;
    color: var(--ocean-blue);
    font-size: 14px;
    padding: 10px 22px;
    border: 1px solid var(--ocean-blue);
}

.download-button-link:hover{
    background-color: var(--ocean-blue);
    color: #eee;
}