.details-wrapper{
    height: 50vh;
}

.details-content{
    margin: 0 auto;
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 1em;
}

.details-table{
    width: 100%;
    border-collapse: collapse;
    border: none;
    border-right:  1px solid #c6c6c6;
    border-bottom:  1px solid #c6c6c6;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.32);
}

.details-table-header th{
    background-color: #0074b4;
    height: 52px;
}

.details-table-content td{
    height: 45px;
}

.button-return {
    text-decoration: none;
    width: 100px;
    background-color: white;
    color: #0074b4;
    text-align: center;
    padding: 0.7em 2em;
    border: 1px solid #0074b4;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 2.5em;
    margin-left: -22em;
    align-self: center;
}

.button-return:hover{
    background-color: #0074b4;
    color: white;
    transition: 0.1s;
}

//LISTADO
.details-table{
    width: 450px;
    align-self: center;
    border: 1px solid #c6c6c6;
}

.details-table-row{
    width: 100%;
    border-bottom: 1px solid #c6c6c6;
    align-self: center;
    display: flex;

    &:last-child{
        border-bottom: none;
    }
}

.details-table-title{
    margin: 1em 0 1em -15em;
    align-self: center;
    font-size: 19px;
    color: #595959;
}

.details-data{
    height: 52px;
    width: 50%;
    background-color: #0074b4;
    color: white;
    //font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
}

.details-data-position{
    color: #252525;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.details-data-content{
    height: 52px;
    width: 50%;
    border-left: 1px solid #c6c6c6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading{
    margin-left: 12em;
}

.popup-overlay{
    position: fixed;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 999;
}
.popup-content{
    position: relative;
    background: rgb(255, 255, 255);
    width: 40% !important;
    height: 420px !important;
    padding: 0 !important;
    margin: auto;
    border: 1px solid #fafafa;
    opacity: 2;
}
