.sidebar {
  max-width: 300px;
  min-width: 300px;
  background-color: #fafafa;
  /* position: absolute; */
  margin: 0;
  /* height: 100%; */
  padding: 0;
  top: 0;
  bottom: 0;
  box-shadow: none;
  flex: 1;
  top: 0;
  margin-top: -80px;


  .logo {
    width: auto;
    height: 53px;
    display: block;
    margin: auto;
    margin-top: 11px;
    margin-bottom: 102px;
  }

  .sk-panel {
    width: 225px;
    margin-left: 41px;

    .sk-panel__header {
      font-size: 14px;
      color: #595959;
      margin-bottom: 26px;
      text-transform: uppercase;
    }

    .sk-hierarchical-menu-option__text {
      font-size: 14px;
      color: #595959;
      margin-bottom: 14px;
    }

    .sk-panel__content {
      margin-left: 32px;

      .sk-input-filter {
        width: 175px;
        height: 36px;
        border-radius: 4px;
        border: solid .5px rgb(192, 236, 255);
        background-color: #f5fcff;
      }
    }

    .sk-hierarchical-menu-option__count {
      font-size: 14px;
      color: #c6c6c6;
    }
  }

  .filter--dates {
    margin-left: 0px;
  }



}

.line {
  width: 225px;
  border: solid 1px #e7e7e7;
  margin-left: 3.5rem;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

.saved-search-link {
  text-decoration: none;
  color: #595959;
  font-size: 14px;
}

.saved-search-link:hover {
  color: #0074b4;
}

// ICONOS TITULARES
.filter--cities,
.filter--more_cities {
  .sk-panel__header {
    &:before {
      content: url("../img/location.svg");
      margin-right: 26px;
    }
  }
}

.filter--person {
  .sk-panel__header {
    &:before {
      content: url("../img/user.svg");
      margin-right: 26px;
    }
  }
}

/* .filter--event_date_filter{
  .sk-panel__header {
    &:before {
      content: url("../img/calendar.svg");
      margin-right: 26px;
    }
  }
} */

.filter--searches {
  .sk-panel__header {
    &:before {
      content: url("../img/location.svg");
      margin-right: 26px;
    }
  }
}



// PRUEBA

// .sidebar-hide ul {
//   list-style-type: none;
//   padding: 0;
// }

// .sidebar-hide .content ul {
//   margin-left: 7.7rem;
// }

// .sidebar-hide .content li {
//   padding: 3px 10px;
//   font-size: 1.4rem;
//   margin-bottom: 1.5rem;
//   display: flex;
//   width: 85%;
// }


// .sidebar-hide {
//   position: relative;
// }


// .sidebar-hide label {
//   position: relative;
//   background: yellowgreen;
//   width: 100%;
//   user-select: none;
// }

// .sidebar-hide .content {}


// .sidebar-hide #side {
//   display: none;
// }


// .sidebar-hide #side:checked~.content {
//   width: 40px;
//   background: rgb(161, 128, 128);

//   .arrowUp,
//   .arrowDown,
//   .value__sidebar,
//   .line {
//     display: none;
//   }

// }

// .sidebar-hide #side:checked~.sk-layout__filters .sidebar {
//   display: none;
// }