.table-container{
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    width: 100%;
    margin-bottom: 71px;
    border-collapse: collapse;
    border: none;
    border-right:  1px solid #c6c6c6;
    border-bottom:  1px solid #c6c6c6;
}

.table-link{
    text-decoration: none;
    color: #000;
}

.header{
    background-color: #0074b4;
    color: #ffffff;
    padding: 1em 2em;
}

.table-header{
    height: 52px;
   /*  th:nth-child(2){
        width: 15%;
    }
    th:nth-child(4){
        width: 10%;
    }
    th:nth-child(5){
        width: 11%;
    }
    th:nth-child(7){
        width: 10%;
    }
    th:nth-child(8){
        width: 8%;
    }
    th:nth-child(9){
        width: 8%;
    } */

    &:nth-child(even){
        background-color:#f5fcff;
    }
    .header{
        background-color: #0074b4;
        color: white;
        padding: 4px 25px;
    }
}

th,
td{
    height: 54px;
    text-align: center;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
}

th{
    height: 17px;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
}

td{
    width: 87px;
    height: 27px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.75;
    text-align: center;
    color: #000000;
    padding: 0;

   /*  &:nth-child(1){
        cursor: pointer;
    }

    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9){
        color: #0073af;
    }

    &:nth-child(7)::after,
    &:nth-child(8)::after{
        content: " m";
    }

    &:nth-child(9)::after{
        content: " min";
    } */
}

//CLASES DELIVERY TYPE CD

.Rectangle-value-1 {
    width: 17px;
    height: 23px;
    border-radius: 2px;
    background-color: #ffc625;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-2 {
    width: 17px;
    height: 23px;
    border-radius: 2px;
    background-color: #00bbd6;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-3 {
    width: 17px;
    height: 23px;
    border-radius: 2px;
    background-color: #a5c36d;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-4 {
    width: 17px;
    height: 23px;
    border-radius: 2px;
    background-color: #FD7255;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-5 {
    width: 17px;
    height: 23px;
    border-radius: 2px;
    background-color: rgb(97, 105, 218);
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


//CLASES ORDER STATUS y ORDER CREATION

.Rectangle-value-6 {
    width: auto; 
    height: 23px;
    border-radius: 2px;
    background-color: #ffc625;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-7 {
    width: auto; 
    height: 23px;
    border-radius: 2px;
    background-color: #00bbd6;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-8 {
    width: auto; 
    height: 23px;
    border-radius: 2px;
    background-color: #a5c36d;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-9 {
    width: auto; 
    height: 23px;
    border-radius: 2px;
    background-color: #FD7255;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-10 {
    width: auto; 
    height: 23px;
    border-radius: 2px;
    background-color: rgb(97, 105, 218);
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


//ICONOS

.CALENDAR {
    width: 17px;
    height: 20px;
    object-fit: contain;
    background-image: url(../img/calendar-white.svg);
    float: left;
}

.LOCATION {
    width: 15px;
    height: 20px;
    object-fit: contain;
    background-image: url(../img/location-white.svg);
    float: left;
}

.user-copy {
    width: 17px;
    height: 17px;
    object-fit: contain;
    background-image: url(../img/user-copy-white.svg);
    float: left;
}