:root {
    --ocean-blue: #0073af;
    --greyish-brown: #5a5959;
    --ice-blue: #e9f2f4;
    --light-blue-grey: #c0dee2;
    --turquoise-blue: #009fce;
    --sun-yellow: #ffc625;
    --tan-green: #a5c36d;
    --turquoise-blue-two: #00bbd6;
    --cherry: #d6003f;
    font-size: 62.5%;
  }